/* General body style */
body {
    font-family: 'Times New Roman', serif;
  }
  
  /* Navbar styling */
  .navbar {
    background-color: #A9CCE3;
  }
  
  .navbar-brand img {
    max-height: 80px;
    margin-right: 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .nav-item {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .collapse li {
    padding: 15px;
  }
  
  /* New Section styling */
  .section-content {
    background-color: #F4F4F4;
  }
  
  .cardd h2{
    font-weight: bold;
  }
  .cardd p{
    color: #5f5e5e;
  }
  
  
  /* Services Section styling */
  #services {
    background-color: #f8f9fa; /* Light gray background */
  }
  
  #services h2 {
    font-size: 2.5rem;
    color: #007bff;
    font-weight: bold;
  }
  
  /* Course Card styling */
  .course-card {
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(192, 70, 70, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color:blanchedalmond ;
    
    color:(srgb red green rgb(36, 36, 139))
  }
  
  .course-card img {
    padding: 15px;
  }
  
  .course-card .card-title {
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .course-card .card-text {
    color: #333;
    font-size: 1rem;
    margin-top: 10px;
  }
  